.contact-container {
    display: grid;
    grid-template-columns: 1fr 1.25fr 1fr;
    height: 150px;
    margin-top: 100px;
}

.contact {
    background-color: #5658dd;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    align-items: center;
    font-weight: bolder;
    padding-top: 20px;
    align-items: center;
    border-radius: 3rem;
    line-height: 5px;
    text-align: center;
}
.contact h2{
    text-decoration: underline;
    font-size: large;
}
.contact-info {
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 900;
    margin-top: 20px;
    column-gap: 35px;
    line-height: 30px;
}
