.events-upcoming{
    max-height: 50rem;
    padding-top: 4rem;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0px 100px;
}

.eventtitle{
    color: white;
    display: flex;
    justify-content: center;
}
.container1{
    width: calc(100% - (2 * var(--container_padding)));
    padding: var(--container_padding);
    margin: 150px 0;
}
.events-upcoming::-webkit-scrollbar {
    display: none;
 }

.row{
    height: 100%;
    align-items: stretch;
    /* margin: 0 50px; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.flip-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    overflow: hidden;
    margin-top: 0px;
}
.flip-card-front img{
    height: 300px;
    margin: 0px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}

.flip-card-front {
    background-color: rgb(26, 25, 25);
    color: black;
}

.flip-card-back {
    background-color: #FFD369;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
    border-style: solid;
    border-color: white;
}
.flip-card-back p{
    font-size: 1rem;
    font-weight: bold;
    color: #393E46;
    padding: 20px;
    margin: 20px;
}
.flip-card {
    background-color: rgb(26, 25, 25);
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 0px 30px;
    flex-grow: 0;
    flex-shrink: 0;
}
/* .events-upcoming .card {
    max-width: 300px;
    flex-grow: 0;
    flex-shrink: 0;
} */

/* .events-upcoming .card > img{
    max-width: 90%;
    border-radius: 1rem;
} */
.events-pre-btn,
.events-nxt-btn {
    border: solid;
    border-radius: 1000px;
    display: block;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: orange;
    background-size: 100rem;
    color: #FFD369;
    cursor: pointer;
    height: 22rem;
}
.events-pre-btn{
    left: 2rem;    
    transform: rotate(180deg);
}

.events-nxt-btn{
    right: 2rem;
}

.events-pre-btn img,
.events-nxt-btn img{
    opacity: 0.2;
}

.events-pre-btn:hover img,
.events-nxt-btn:hover img{
  opacity: 1;
}
